:root{
    --textColor: black;
    --backgroundColor: white;
};
/*title*/
.hero.is-primary{
    background: white;
}
.hero .title{
    color: var(--textColor);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 100px;
    background-color:white;
};

.body{
font-size: 100px;
}

